html, body {
  padding:0;
  margin:0;
  font-family:'Exo 2', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
h1{
font-size: 2em;
color: black;
background-color: white;
}

h2{
font-size: 2em;
color:#D33F43;
text-align: center;
}

.one {
  background-color: #4a4e4d;
}

.two {
  background-color: #0e9aa7;
}

.three {
  background-color: #3da4ab;
}

.four {
  background-color: #f6cd61;
}

.five {
  background-color: #ffaaa5;
}

.six {
  background-color: #fe8a71;
}
.seven {

}
div {
  line-height: 5em;
}
.lidt-text{
  font-size: 1.2em;
  text-align: center;
  margin-left: 100px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 50px;
}


.container {
  padding: 4rem;
  width: 100rem;
  font-family: 'Lato', sans-serif;
  background: #f2f2f2;
  color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

h3 {
  font-size: 1.2rem;
  color: #373d51;
  padding: 1.3rem;
  margin: 0;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: red;
}

.accordion a:hover::after {
  border: 1px solid red;
}

.accordion a.active {
  color: red;
  border-bottom: 1px solid red;
}

.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

@media only screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: auto;
  }
}
